<footer class="footer-section">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <h2 class="footer-logo">LOGO</h2>
        <p class="footer-description">Education Consulting with a Global Perspective</p>
      </div>
      <div class="col-md-4">
        <h5 class="footer-title">Follow us</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-youtube"></i> Youtube</a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i> Linkedin</a></li>
          <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="footer-title">Resources</h5>
        <ul class="list-unstyled">
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Refund Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom text-center pt-4">
      <p class="footer-copyright">
        Copyright © 2024 AI Powered Group. All rights reserved.
      </p>
    </div>
  </div>
</footer>
